<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/404.css">
    <title>404!</title>
</head>

<body>

    <h1>😔</h1>

    <h2>Looks like you took a wrong turn. It's great that you're using this API though!</h2>

    <h2>Why not check out the docs to find your way to the data.</h2>

    <button><a href="/" target="_blank">Take me outta here!</a></button>

</body>

</html>
