<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="demo.css">
    <title>Global Colors API - Demo</title>
</head>

<body>

    <div id="chart">
        <canvas id="myChart"></canvas>
    </div>

    <p>A simple chart using Chart.js with the global colors API used to provide appropriate colors to the chart!</p>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
    <script src="/demo-front.js" defer></script>

</body>

</html>
